.assess-project{
    overflow: auto;
    height: 100%;
    .header{
        //  margin-top: 5px;
         height: 16px;
         line-height: 16px;
         border: none;
        .text::before{
            display: inline-block;
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0px;
            top:4px;
            background: url(./image/head.png) center no-repeat;
        }
        .text{
            position: relative;
            padding-left: 21px;
            font-family:PingFangSC-Regular;
            font-size:14px;
            color:#0a131a;
            line-height:24px;
            text-align:left;
        }
    }
    .noting{
        margin: 0 auto;
        margin-top: 108px;
        width: 141px;
        height: 141px;
        background: url("./image/noting.png") center no-repeat;
    }
    .selected{
        margin-left: 20px;
        margin-top: 10px;
        border:1px solid #e0e9ee;
        border-radius:1px;
        width:168px;
        height:26px;
        position: relative;
        cursor: pointer;
        .show {
            font-family:PingFangSC-Regular;
            font-size:12px;
            color:#142732;
            line-height:26px;
            text-align:left;
            padding-left: 7px;
            
            .icon {
                position: absolute;
                width: 6px;
                height: 6px;
                font-family: 'icomoon' !important;
                background: url('./image/xiala.png') center no-repeat;
                top:9px;
                right: 10px;
            }
        }
        
        .list {
            // display: none;
            position: absolute;
            left: -1px;
            border:1px solid #e0e9ee;
            border-radius:1px;
            width:168px;
            z-index: 101;
            li {
                    padding-left: 7px;
                    height: 26px;
                    line-height: 26px;
                    background-color: #ffffff;
            }
            li:hover{
                background-color :rgb(245, 248, 250);
            }
        }
    }
    .bgc.selected{
        background-color: rgb(245, 248, 250);
    }
    .project-list{
        margin-top: 15px ;
        margin-left: 20px;
        .project-item{
            background:#ffffff;
            box-shadow:0 0 5px 0 rgba(0,0,0,0.08);
            width:282px;
            height:305px;
            display: inline-block;
            margin-right: 30px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            transition: 0.3s;
            position: relative;
            z-index: 100;
            .state{
                position: absolute;
                top: -8px;
                right: -23px;
                margin-top: 20px;
                background:#edf8ff;
                width:88px;
                height:20px;
                line-height: 20px;
                font-family:PingFangSC-Regular;
                font-size:12px;
                color:#73b5ff;
                text-align:center;
                transform:rotate(-315deg);   
                -webkit-transform:rotate(-315deg);    
                -moz-transform:rotate(-315deg);    
                -o-transform:rotate(-315deg);    
                -ms-transform:rotate(-315deg);
            }
            .state.finish{
                background:#e7edf1;
                color:#4d626d;
            }
            .project-name{
                height: 24px;
                font-family:PingFangSC-Regular;
                font-size:16px;
                color:#0a1419;
                line-height:24px;
                text-align:center;
                margin: 0 auto;
                margin-top: 15px;
                max-width: 220px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .time-person{
                margin-top: 5px;
                position: relative;
                text-align: center;
                .common{
                    height: 20px;
                    font-family:PingFangSC-Regular;
                    font-size:12px;
                    color:#586a75;
                    line-height:20px;
                    text-align:center;
                    display: inline-block;
                    position: relative;
                }
                .time{
                    margin-left: 15px;
                    text-align: left;
                    width: 70px;
                }
                .person{
                    margin-left: 33px;
                    max-width: 108px;
                }
                .time::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -15px;
                    top:5px;
                    width: 10px;
                    height: 10px;
                    background: url("./image/time.png") no-repeat;
                }
                .person::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -13px;
                    top:5px;
                    width: 10px;
                    height: 10px;
                    background: url("./image/person.png") no-repeat;
                }
            }
            .progress{
                margin: 20px auto 22px;
                width: 136px;
                // border:2px solid #ffffff;
                box-shadow:0 2px 8px 0 ;
                height:136px;
                border-radius:100%;
                position: relative;
                overflow: hidden;
                .per100{
                     background: url("./image/finish.png") center no-repeat ;
                     width: 132px;
                     height: 132px;
                     position: absolute;
                     z-index: 99;
                }           
                .number{
                    font-family:PingFangSC-Semibold;
                    font-size:26px;
                    // color:#ffffff;
                    line-height:30px;
                    text-align:center;
                    height: 30px;
                    margin-top: 42px;
                    position: absolute;
                    width:132px;
                    top:0;
                    z-index: 3;
                }
                .number.bgc20{
                    color: #FF8516;
                }
                .number.bgc50{
                    color: #29C21E;
                }
                .number.bgc60{
                    color: #3F8FE9;
                }
                .number.bgc100{
                    color: #FFFFFF;
                }
                .text{
                    font-family:PingFangSC-Regular;
                    font-size:12px;
                    // color:#ffffff;
                    height: 22px;
                    line-height:22px;
                    text-align:center;
                    position: absolute;
                    width:132px;
                    top:72px;
                    z-index: 3;
                }
                .common{
                    width:132px;
                    height: 150px;
                    position: absolute;
                    left: 0;
                    top: 164px;
                    
                    background-repeat: repeat-x;
                    transition: 3s;
                }
                .common.bgc20{
                    background-image: url('./image/orange.png');
                }
                .common.bgc50{
                    background-image: url('./image/green.png');
                }
                .common.bgc80{
                    background-image: url('./image/blue.png');
                }
                .common.bgc100{
                    background-image: url('./image/purple.png');
                }
                .sploosh1{
                   animation:sploosh 15s linear 1.5s infinite; 
                   -webkit-animation:sploosh 15s linear 1.5s infinite; 
                }
                .sploosh2{
                    animation:sploosh 15s linear 1s infinite; 
                    -webkit-animation:sploosh 15s linear 1s infinite; 
                }
            }
            .progress.bgc20{
                border:2px solid rgba(255,255,255,0.50);
                box-shadow:0 2px 8px 0 rgba(255,180,117,0.50);
            }
            .progress.bgc50{
                border:2px solid #ffffff;
                box-shadow:0 2px 8px 0 rgba(127,223,119,0.50);
            }
            .progress.bgc80{
                border:2px solid #ffffff;
                box-shadow:0 2px 8px 0 rgba(122,198,255,0.50);
            }
            .progress.bgc100{
                border:2px solid rgba(255,255,255,0.50);
            box-shadow:0 2px 8px 0 rgba(146,160,254,0.50);
            }
            .showNum{
                .conpleted,.invited{
                    float: left;
                    .img{
                        width:13px;
                        height:18px;
                        margin-left: 40px;
                        display: inline-block;
                        background: url("./image/completed.png") no-repeat;
                        margin-right: 15px;
                        margin-bottom: 7px;
                    }
                    .content{
                        display: inline-block;
                        .text{
                            font-family:PingFangSC-Regular;
                            font-size:12px;
                            color:#4b5f6a;
                            line-height:20px;
                            height: 20px;
                            text-align:left;
                        }
                        .num{
                            font-family:PingFangSC-Regular;
                            font-size:20px;
                            color:#0a1419;
                            line-height:24px;
                            height: 24px;
                            text-align:left;
                            display: inline-block;
                        }
                    }
                }
                .invited.diff{
                    float: right;
                    width: 119px;
                    .img{
                        margin-left: 0px;
                        width: 18px;
                        background: url("./image/invited.png") no-repeat;
                    }
                }
            }
        }
       .project-item:hover{
             transform:scale(1.03);   
             -webkit-transform:scale(1.03);
             -moz-transform:scale(1.03);    
             -o-transform:scale(1.03);   
             -ms-transform:scale(1.03);
       }
    }
    .project-list :nth-child(3).project-item{
        margin-right: 0px;
    }
    .bottomURL{
        background:#ffffff;
        // box-shadow:0 0 5px 0 rgba(0,0,0,0.05);
        // border-radius:2px 2px 5px 5px;
        width:100%;
        height:16px;
        margin-top: 18px;
        // position: absolute;
        // bottom: 0px;
        // left: 0px;
        .text{
            float: right;
            margin-right: 28px;
            display: inline-block;
            // margin-top: 10px;
            font-family:PingFangSC-Regular;
            font-size:12px;
            color:#8f9ca6;
            line-height:16px;
            height: 16px;
            text-align:center;
            position: relative;
        }
        .text:hover{
            color: #1587d9;
            .bttom-icon{
                background: url('./image/more.svg') center no-repeat;            
            }
        }
        .bttom-icon{
            display: block;
            position: absolute;
            right: -21px;
            top: 0px;
            width:16px;
            height:16px;
            background: url('./image/foot.png') center no-repeat;
            border-radius:100%;
        }
    }
}
@keyframes sploosh{
              0% {background-position: 0 bottom;}
              100% {background-position: 1000px bottom;}
}
@-webkit-keyframes sploosh{
              0% {background-position: 0 bottom;}
              100% {background-position: 1000px bottom;}
}